.odd-numbers {
    background-color: #c46d6d;
    font: verdana, Dejavu sans, sans-serif;

}
#number-two {
    color: #0098fd;
    font-size: 36px;

}
.number-3 {
    font-size: 36px;

}

#number-four {
    background-color: #68dd59;
    font-size: 24px;

}